.All_Overall_time_dependent_3DOF_linear_driver0,
.All_Overall_time_dependent_3DOF_linear_driver1,
.All_Overall_time_dependent_3DOF_linear_driver2,
.All_Overall_time_dependent_3DOF_linear_driver3,
.All_Overall_time_dependent_3DOF_linear_driver4 { background-image: url('All_Overall_time_dependent_3DOF_linear_driver_icons.png'); width: 16px; height: 16px; }

.All_Overall_time_dependent_3DOF_linear_driver0 { background-position: -0px; }
.All_Overall_time_dependent_3DOF_linear_driver1 { background-position: -16px; }
.All_Overall_time_dependent_3DOF_linear_driver2 { background-position: -32px; }
.All_Overall_time_dependent_3DOF_linear_driver3 { background-position: -48px; }
.All_Overall_time_dependent_3DOF_linear_driver4 { background-position: -64px; }
